background {
  color: white;
}

header {
background: lightgray;
margin: 20px 15px 20px 15px;
padding: 10px;
}

nav {
color: black;
font-family: Arial, Serif;
font-size: 20px;
text-align: center;
}

a {
font-family: Arial, Serif;
font-size: 20px;
}

a: link {color: blue;}
a: visited {color: purple; }
a: hover {color: green;}
a: active {color: red;}

article {
background: lightgray;
}

img {
border-radius: 10px;
width: 100%;
height: auto;
}

h1 {
color: black;
font-family: Arial, Serif;
font-size: 50px;
text-align: center;
}

h2 {
color: black;
font-family: Arial, Serif;
font-size: 40px;
text-align: center;
}

h3 {
color: black;
font-family: Arial, Serif;
font-size: 30px;
text-align: center;
}

h6 {
color: black;
font-family: Arial, Serif;
font-size: 20px;
text-align: center;
}

p {
color: black;
font-family: Arial, Serif;
font-size: 15px;
text-align: left;
}

footer {
color: black;
font-family: Arial, Serif;
font-size: 10px;
text-align: center;
}
